<div class="container__home">
  <app-menu-title></app-menu-title>

  <div class="articles">
    <div class="articles__main">
      <app-big-card
        Id="{{bigCardId}}"
        photoCover="{{bigCardCoverPhoto}}"
        cardDate="{{bigCardDate}}"
        cardTitle="{{bigCardTitle}}"
        cardDescription="{{bigCardDescription}}"
      ></app-big-card>
    </div>
    <div id="box__small-cards" class="articles__others">


      <app-small-card
        Id="2"
        photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*_Ow3G137nnafrO0boJXFew.png"
        cardDate="Fevereiro de 2022"
        cardTitle="Write better tests without Router mocks/stubs"
      ></app-small-card>
      <hr>
      <app-small-card
        Id="3"
        photoCover="https://miro.medium.com/v2/resize:fit:720/0*ziNf6Ao8VbShrzHM"
        cardDate="Março de 2022"
        cardTitle="Angular v15 is now available!"
      ></app-small-card>
      <hr>
      <app-small-card
        Id="4"
        photoCover="https://miro.medium.com/v2/resize:fit:720/0*CMRt_X2y06OTNl0U"
        cardDate="Janeiro de 2022"
        cardTitle="Advancements in the Angular Router"
       ></app-small-card>
    </div>
  </div>
</div>
