* {
  color: #898989;
}

header {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 40px 0 50px;

  display: flex;
  justify-content: space-between;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 50px;

  align-items: center;
}

nav ul li a {
  text-decoration: none;
  background-color: transparent;
}

nav ul li a:hover {
  color: white;
  transition-duration: 500ms;
}

.logo {
  border-radius: 100%;
  background: linear-gradient(to top, #fa425b, #bd0021);
  height: 50px;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.socialMedia ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.socialMedia ul li a {
  text-decoration: none;
}

.socialMedia .ph-fill {
  font-size: 30px;
}

.socialMedia .ph-fill:hover {
  color: white;
  transition-duration: 500ms;
}
