<header>
  <nav>
    <ul>
      <li class="logo"><a href="#">J</a></li>
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>

  <div class="socialMedia">
    <ul>
      <li><a href="https://www.linkedin.com/in/joel-h-sousa/"><i class="ph-fill ph-linkedin-logo"></i></a></li>
      <li><a href="https://github.com/joellhss/"><i class="ph-fill ph-github-logo"></i></a></li>
    </ul>
  </div>
</header>
